@page
@model TakenbeheerSysteem.Pages.Task.DetailsModel
@{

	<div>
		<h3>@Model.task.Title</h3>
		<p>
			Description:
			@Model.task.Description
		</p>
		<br />
		<p>
			Progress:
			@Model.task.Progress
			Deadline:
			@Model.task.Deadline
		</p>
	</div>

	// <div>
	// 	<form method="post">
	// 		<input type="submit" name="Submit" value="Edit" />
	// 	</form>
	// 	<p></p>
	// 	<form method="post">
	// 		<input type="submit" name="Submit" value="Delete" />
	// 	</form>
	// </div>

	<div>
		<h4>Employees</h4>
		<table>
			<tr>
				<th>
					Name
				</th>
				<th>
					Role
				</th>
			<tr/>
			<form method="post">
			@foreach(var employee in Model.team)
				{
					<tr>
						<td>
							@employee.Name
						</td>
						<td>
							@employee.Role
						</td>
						<td>
							<input type="text" hidden name="Checker" value="@employee.Id" />
							<input type="submit" name="Submit" value="View Employee" />
						</td>
					</tr>
				}
			</form>
		</table>
	</div>
}
