@page
@model TakenbeheerSysteem.Pages.Task.IndexModel
@{

    <h1>Task</h1>

    <table>
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Progress
                </th>
                <th>
                    Deadline
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.taskList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => task.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => task.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => task.Progress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => task.Deadline)
                    </td>
                    <td>
                        <form>
                            <input type="text" hidden name="Checker" value="@task.Id" />
                            <input type="submit" name="Submit" value="View" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br/>
}
