@page
@model TakenbeheerSysteem.Pages.Employee.DetailsModel
@{

    <div>
         <h1>
            Name:
        </h1>
        <a>
            @Model.employee.Name
        </a>
        <h2>
            Role:
        </h2>
        <a>
            @Model.employee.Role
        </a>
        <h2>
            Email:
        </h2>
        <a>
            @Model.employee.Email
        </a>
        <h2>
            Location:
        </h2>
        <a>
            @Model.employee.Address - @Model.employee.PostalCode
        </a>
    </div>
    <div>
        <table>
            <tr>
                <th>
                    Task name:
                </th>
                <th>
                    State:
                </th>
            </tr>
            @if(Model.Tasks.Count > 0)
            {
                
            }
            @foreach(var task in Model.Tasks)
            {
                <tr>
                    <td>
                        @task.Title
                    </td>
                    <td>
                        @task.Progress
                    </td>
                    <td>
                        <form method="post">
                            <input type="text" hidden name="Input" value="@task.Id"/>
                            <input type="submit" name="Submit" value="View" />
                        </form>
                    </td>
                </tr>
            }
        </table>
        <div>
            <form method="post">
                <input type="text" hidden name="Input" value="@Model.employee.Id" />
                <input type="submit" name="Submit" value="Add task" />
            </form>
        </div>
    </div>
    <form method="post">
        <input type="text" hidden name="Input" value="@Model.employee.Id" />
        <input type="submit" name="Submit" value="Edit" />
    </form>

}
